<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- site icon -->
   <link rel="icon" href="/admin/images/fevicon.png" type="image/png" />
   <!-- bootstrap css -->
   <link rel="stylesheet" href="/admin/css/bootstrap.min.css" />
   <!-- site css -->
   <link rel="stylesheet" href="/admin/css/style.css" />
   <!-- responsive css -->
   <link rel="stylesheet" href="/admin/css/responsive.css" />
   <!-- color css -->
   <link rel="stylesheet" href="/admin/css/colors.css" />
   <!-- select bootstrap -->
   <link rel="stylesheet" href="/admin/css/bootstrap-select.css" />
   <!-- scrollbar css -->
   <link rel="stylesheet" href="/admin/css/perfect-scrollbar.css" />
   <!-- custom css -->
   <link rel="stylesheet" href="/admin/css/custom.css" />
   <!-- calendar file css -->
   <link rel="stylesheet" href="/admin/js/semantic.min.css" />
   <!-- fancy box js -->
   <link rel="stylesheet" href="/admin/css/jquery.fancybox.css" />
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->


   <script>
      async function deleteCategory(categoryId) {
         try {
            const response = await fetch(`/admin/category/deleteCategory/${categoryId}`, {
               method: 'DELETE',
               headers: {
                  'Content-Type': 'application/json',
               },
            });
            window.location.reload();

         } catch (error) {
            console.error('Error during category deletion:', error.message);
         }
      }
   </script>

</head>

<body class="inner_page tables_page">
   <div class="full_container">
      <div class="inner_container">
         <!-- Sidebar  -->
         <nav id="sidebar">
            <div class="sidebar_blog_1">
               <div class="sidebar-header">
                  <div class="logo_section">
                     <!-- <a href="index.html"><img class="logo_icon img-responsive" src="/admin/images/logo/logo_icon.png" alt="#" /></a> -->
                  </div>
               </div>
               <div class="sidebar_user_info">
                  <div class="icon_setting"></div>
                  <div class="user_profle_side">
                     <div class="user_img"><img class="img-responsive" src="/admin/images/layout_img/user_img.jpg"
                           alt="#" /></div>
                     <div class="user_info">
                        <h6>John David</h6>
                        <p><span class="online_animation"></span> Online</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="sidebar_blog_2">
               <h4>General</h4>
               <ul class="list-unstyled components">
                  <li class="active">
                     <a href="/admin/dashboard" class=""><i class="fa fa-dashboard yellow_color"></i>
                        <span>Dashboard</span></a>
                     <!-- <ul class="collapse list-unstyled" id="dashboard">
                           <li>
                              <a href="dashboard.html">> <span>Default Dashboard</span></a>
                           </li>
                           <li>
                              <a href="dashboard_2.html">> <span>Dashboard style 2</span></a>
                           </li>
                        </ul> -->
                  </li>
                  <li><a href="/admin/users"><i class="fa fa-users"></i> <span>Users</span></a></li>
                  <li>
                     <a href="/admin/category"><i class="fa fa-database"></i> <span>Category</span></a>
                     <!-- <ul class="collapse list-unstyled" id="element">
                           <li><a href="general_elements.html">> <span>General Elements</span></a></li>
                           <li><a href="media_gallery.html">> <span>Media Gallery</span></a></li>
                           <li><a href="icons.html">> <span>Icons</span></a></li>
                           <li><a href="invoice.html">> <span>Invoice</span></a></li>
                        </ul> -->
                  </li>
                  <li><a href="/admin/products"><i class="fa fa-heart-o"></i> <span>Products</span></a></li>
                     <!-- <li>
                        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Apps</span></a>
                        <ul class="collapse list-unstyled" id="apps">
                           <li><a href="email.html">> <span>Email</span></a></li>
                           <li><a href="calendar.html">> <span>Calendar</span></a></li>
                           <li><a href="media_gallery.html">> <span>Media Gallery</span></a></li>
                        </ul>
                     </li> -->
                     <!-- <li><a href="price.html"><i class="fa fa-briefcase blue1_color"></i> <span>Pricing Tables</span></a></li>
                     <li>
                        <a href="contact.html">
                        <i class="fa fa-paper-plane red_color"></i> <span>Contact</span></a>
                     </li>
                     <li class="active">
                        <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Additional Pages</span></a>
                        <ul class="collapse list-unstyled" id="additional_page">
                           <li>
                              <a href="profile.html">> <span>Profile</span></a>
                           </li>
                           <li>
                              <a href="project.html">> <span>Projects</span></a>
                           </li>
                           <li>
                              <a href="login.html">> <span>Login</span></a>
                           </li>
                           <li>
                              <a href="404_error.html">> <span>404 Error</span></a>
                           </li>
                        </ul>
                     </li>
                     <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                     <li><a href="charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>
                     <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li> -->
               </ul>
            </div>
         </nav>
         <!-- end sidebar -->
         <!-- right content -->
         <div id="content">
            <!-- topbar -->
            <div class="topbar">
               <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="full">
                     <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i
                           class="fa fa-bars"></i></button>
                     <div class="logo_section">
                        <!-- <a href="index.html"><img class="img-responsive" src="images/logo/logo.png" alt="#" /></a> -->
                     </div>
                     <div class="right_topbar">
                        <div class="icon_info">
                           <ul>
                              <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                              <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                              <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                           </ul>
                           <ul class="user_profile_dd">
                              <li>
                                 <a class="dropdown-toggle" data-toggle="dropdown"><img
                                       class="img-responsive rounded-circle" src="images/layout_img/user_img.jpg"
                                       alt="#" /><span class="name_user">John David</span></a>
                                 <div class="dropdown-menu">
                                    <a class="dropdown-item" href="profile.html">My Profile</a>
                                    <a class="dropdown-item" href="settings.html">Settings</a>
                                    <a class="dropdown-item" href="help.html">Help</a>
                                    <a class="dropdown-item" href="logout"><span>Log Out</span> <i
                                          class="fa fa-sign-out"></i></a>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </nav>
            </div>
            <!-- end topbar -->
            <!-- dashboard inner -->
            <div class="midde_cont">
               <div class="container-fluid">
                  <div class="row column_title">
                     <div class="col-md-12">
                        <div class="page_title">

                           <h2>CATEGORIES </h2>
                        </div>
                     </div>
                  </div>
                  <!-- row -->
                  <div class="row">

                     <!-- table section -->
                     <div class="col-md-12">
                        <div class="white_shd full margin_bottom_30">
                           <div class="full graph_head">
                              <div class="heading1 margin_0">
                                 <a href="/admin/addCategories" class="btn cur-p btn-outline-primary">ADD CATEGORIES</a>
                              </div>
                           </div>

                           <div class="table_section padding_infor_info">
                              <div class="table-responsive-sm">
                                 <table class="table">

                                    <thead>
                                       <tr>

                                          <th style="font-weight: 500; color: black; ">Name</th>
                                          <th style="font-weight: 500; color: black;">Description</th>
                                          <th style="font-weight: 500; color: black;">Edit</th>
                                          <th style="font-weight: 500; color: black;">Delete</th>
                                          <th style="font-weight: 500; color: black;">Status</th>
                                          <th style="font-weight: 500; color: black;">Action</th>

                                       </tr>
                                    </thead>

                                    <tbody>

                                       <% if(categories.length> 0){%> <% for(let i=0; i < categories.length; i++){ %>
                                             <tr>

                                                <td width="15%">
                                                   <%= categories[i].name %>
                                                </td>

                                                <td width="20%">
                                                   <%= categories[i].description %>
                                                </td >
                                                <td class="text" width="15%">
                                                   <%= categories[i].edit %>

                                                      <a href="/admin/editCategories?categoryId=<%=categories[i]._id%>"
                                                         class="btn cur-p btn-outline-info">Edit</a>

                                                </td>
                                                <td width="15%">
                                                   <a href="#" class="btn cur-p btn-outline-info"
                                                      onclick="deleteCategory('<%= categories[i]._id %>')">Delete</a>
                                                </td>

                                                <td width="15%">
                                                   <%= categories[i].Status %>

                                                      <% if(categories[i].is_listed) { %>
                                                         <span class="badge rounded-pill alert-success">Listed</span>
                                                         <% } else { %>
                                                            <span
                                                               class="badge rounded-pill alert-danger">Unlisted</span>
                                                            <% } %>

                                                </td>



                                                <td class="text" width="25%">
                                                   <% if(categories[i].is_listed===0){ %>
                                                      <a href="/admin/listCategories?id=<%=categories[i]._id %>"
                                                         class="btn btn-sm btn-success rounded font-sm mt-15">List</a>
                                                      <% } else { %>
                                                         <a href="/admin/listCategories?id=<%=categories[i]._id %>"
                                                            class="btn btn-sm btn-danger rounded font-sm mt-15">Unlist</a>
                                                         <% } %>
                                                </td>
                                             </tr>
                                             <% } %>
                                                <% } %>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- footer -->
               <div class="container-fluid">
                 
               </div>
            </div>
            <!-- end dashboard inner -->
         </div>
      </div>
      <!-- model popup -->
      <!-- The Modal -->
      <div class="modal fade" id="myModal">
         <div class="modal-dialog">
            <div class="modal-content">
               <!-- Modal Header -->
               <div class="modal-header">
                  <h4 class="modal-title">Modal Heading</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>
               <!-- Modal body -->
               <div class="modal-body">
                  Modal body..
               </div>
               <!-- Modal footer -->
               <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
      <!-- end model popup -->
   </div>
   <!-- jQuery -->
   <script src="/admin/js/jquery.min.js"></script>
   <script src="/admin/js/popper.min.js"></script>
   <script src="/admin/js/bootstrap.min.js"></script>
   <!-- wow animation -->
   <script src="/admin/js/animate.js"></script>
   <!-- select country -->
   <script src="/admin/js/bootstrap-select.js"></script>
   <!-- owl carousel -->
   <script src="/admin/js/owl.carousel.js"></script>
   <!-- chart js -->
   <script src="/admin/js/Chart.min.js"></script>
   <script src="/admin/js/Chart.bundle.min.js"></script>
   <script src="/admin/js/utils.js"></script>
   <script src="/admin/js/analyser.js"></script>
   <!-- nice scrollbar -->
   <script src="/admin/js/perfect-scrollbar.min.js"></script>
   <script>
      var ps = new PerfectScrollbar('#sidebar');
   </script>
   <!-- fancy box js -->
   <script src="/admin/js/jquery-3.3.1.min.js"></script>
   <script src="/admin/js/jquery.fancybox.min.js"></script>
   <!-- custom js -->
   <script src="/admin/js/custom.js"></script>
   <!-- calendar file css -->
   <script src="/admin/js/semantic.min.js"></script>


</body>

</html>