<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>ADMIN-ZENDEN SOFAS</title>
   <link rel="icon" href="/img/favicon-32x32.png">
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- site icon -->
   <link rel="icon" href="/admin/images/fevicon.png" type="image/png" />
   <!-- bootstrap css -->
   <link rel="stylesheet" href="/admin/css/bootstrap.min.css" />
   <!-- site css -->
   <link rel="stylesheet" href="/admin/css/style.css" />
   <!-- responsive css -->
   <link rel="stylesheet" href="/admin/css/responsive.css" />
   <!-- color css -->
   <link rel="stylesheet" href="/admin/css/colors.css" />
   <!-- select bootstrap -->
   <link rel="stylesheet" href="/admin/css/bootstrap-select.css" />
   <!-- scrollbar css -->
   <link rel="stylesheet" href="/admin/css/perfect-scrollbar.css" />
   <!-- custom css -->
   <link rel="stylesheet" href="/admin/css/custom.css" />
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

   <style>
      .table {
         width: 100%;
         border-collapse: collapse;
      }

      .table th,
      .table td {
         padding: 8px;
         border: 1px solid #dee2e6;
      }

      .table th {
         font-weight: 500;
         color: black;
         width: auto;
      }

      .table tbody tr:nth-child(even) {
         background-color: #f8f9fa;
         /* Alternate row background color */
      }

      .table tbody tr:hover {
         background-color: #f0f0f0;
         /* Hover background color */
      }
   </style>
</head>

<body class="dashboard dashboard_1">
   <div class="full_container">
      <div class="inner_container">
         <!-- Sidebar  -->
         <nav id="sidebar">
            <div class="sidebar_blog_1">
              
               <div class="sidebar_user_info">
                  <div class="icon_setting"></div>
                  <div class="user_profle_side">
                     <div class="user_img"><img class="img-responsive" src="/admin/images/layout_img/user_img.jpg"
                           alt="#" /></div>
                     <div class="user_info">
                        <h6>John David</h6>
                        <p><span class="online_animation"></span> Online</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="sidebar_blog_2">
               <h4>General</h4>
               <ul class="list-unstyled components">
                  <li class="active">
                     <a href="/admin/dashboard" class=""><i class="fa fa-dashboard yellow_color"></i>
                        <span>Dashboard</span></a>                   
                  </li>
                  <li><a href="/admin/users"><i class="fa fa-users"></i> <span>Users</span></a></li>
                  <li>
                     <a href="/admin/category"><i class="fa fa-database"></i> <span>Category</span></a>                    
                  </li>
                  <li><a href="/admin/products"><i class="fa fa-heart-o"></i> <span>Products</span></a></li>
                  <li>
                     <a href="/admin/orders"><i class="fa fa-briefcase blue1_color"></i> <span>Orders</span></a>

                  </li>
                  <li>
                     <a href="/admin/offers"><i class="fa fa-object-group blue2_color"></i> <span>Offers</span></a>
                  </li>
                  <li>
                     <a href="/admin/coupon"><i class="fa fa-spinner"></i> <span>Coupons</span></a>
                  </li>                 
               </ul>
            </div>
         </nav>
         <!-- end sidebar -->


         <!-- right content -->
         <div id="content">
            <!-- topbar -->
            <div class="topbar">
               <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="full">
                     <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i
                           class="fa fa-bars"></i></button>
                     <div class="logo_section">
                        <!-- <a href="index.html"><img class="img-responsive" src="/admin/images/logo/logo.png" alt="#" /></a> -->
                     </div>
                     <div class="right_topbar">
                        <div class="icon_info">
                           <ul>
                              <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                              <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                              <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                           </ul>
                           <ul class="user_profile_dd">
                              <li>
                                 <a class="dropdown-toggle" data-toggle="dropdown"><img
                                       class="img-responsive rounded-circle" src="/admin/images/layout_img/user_img.jpg"
                                       alt="#" /><span class="name_user">John David</span></a>
                                 <div class="dropdown-menu">
                                    <a class="dropdown-item" href="profile.html">My Profile</a>
                                    <a class="dropdown-item" href="settings.html">Settings</a>
                                    <a class="dropdown-item" href="help.html">Help</a>
                                    <a class="dropdown-item" href="logout"><span>Log Out</span> <i
                                          class="fa fa-sign-out"></i></a>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </nav>
            </div>
            <!-- end topbar -->
            <!-- dashboard inner -->
            <div class="midde_cont">
               <div class="container-fluid">
                  <div class="row column_title">
                     <div class="col-md-12">
                        <div class="page_title"
                           style="display: flex; justify-content: space-between; align-items: center;">
                           <h2>DASHBOARD</h2>
                           <a href="salesReport" class="btn cur-p btn-outline-primary"
                              style="font-weight: 600; padding: 10px 20px; font-size: 14px;">SALES REPORT</a>
                        </div>
                     </div>
                  </div>

                  <div class="row column1">
                     <div class="col-md-6 col-lg-3">
                        <div class="full counter_section margin_bottom_30">
                           <div class="couter_icon">
                              <div>
                                 
                                 <i class="fa fa-rupee green_color"></i>
                              </div>
                           </div>
                           <div class="counter_no">
                              <div>
                                 <p class="head_couter"  style="font-weight: 300; color: black;">REVENUE BASED ON ORDERS DELIVERED</p>
                                 
                                 <p class="total_no"  style="font-weight: 500; color: black;"> ₹ <%= totalSale %></p>
                                 
                                
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="full counter_section margin_bottom_30">
                            <div class="couter_icon">
                                <div>
                                    <i class="fa fa-truck blue1_color"></i>
                                </div>
                            </div>
                            <div class="counter_no">
                                <div>
                                    <p class="head_couter" style="font-weight: 600; color: black;">TOTAL ORDERS: <%= totalOrder %></p>
                                    <p class="head_couter" style="font-weight: 300; color: black;">DELIVERED ORDERS: <%= deliveredOrders %></p>
                                    <p class="head_couter" style="font-weight: 300; color: black;">CANCELLED ORDERS: <%= cancelOrders %></p>
                                    <p class="head_couter" style="font-weight: 300; color: black;">OTHER ORDERS: <%= otherOrders %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     <div class="col-md-6 col-lg-3">
                        <div class="full counter_section margin_bottom_30">
                           <div class="couter_icon">
                              <div>
                                 <i class="fa fa-tag brown_color"></i>
                              </div>
                           </div>
                           <div class="counter_no">
                              <div>
                                 <br>
                                 <p class="head_couter"  style="font-weight: 600; color: black; font-size: 25px;"> <%= totalProducts %> PRODUCTS</p>
                                 <br><br>
                                 <p class="head_couter"  style="font-weight: 400; color: black;">IN <%= totalCategories %> CATEGORIES</p>
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="full counter_section margin_bottom_30">
                           <div class="couter_icon">
                              <div>
                                 <i class="fa fa-area-chart orange_color"></i>
                              </div>
                           </div>
                           <div class="counter_no">
                              <div>
                                 <br>
                                 <p class="head_couter"  style="font-weight: 400; color: black; padding-bottom: 5px;">WEEKLY SALES</p>
                                 <p class="total_no"  style="font-weight: 600; color: black;"> ₹  <%= DailyEarn %></p>
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="full counter_section margin_bottom_30">
                           <div class="couter_icon">
                              <div>
                                 <i class="fa fa-pie-chart yellow_color"></i>
                              </div>
                           </div>
                           <div class="counter_no">
                              <div>
                                 
                                 <p class="head_couter" style="font-weight: 400; color: black; padding-bottom: 0px;">THIS MONTH SALES</p> 
                                 <p class="total_no" style="font-weight: 600; color: black;"> ₹  <%= monthlyEarn %></p>
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                     
                     <div class="col-md-6 col-lg-3">
                        <div class="full counter_section margin_bottom_30">
                           <div class="couter_icon">
                              <div>
                                 <i class="fa fa-bar-chart-o red_color"></i>
                              </div>
                           </div>
                           <div class="counter_no">
                              <div>
                                 <p class="head_couter" style="font-weight: 400; color: black; padding-bottom: 0px;">THIS YERAR SALES</p>
                                 <p class="total_no" style="font-weight: 600; color: black;"> ₹  <%= yearlyEarn %></p>
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  
                  <!-- graph -->
                  <!-- <a href="" class="btn cur-p btn-outline-primary" style="margin-left: 85%; margin-bottom: 20px;">ADD PRODUCTS</a> -->
                  <div class="row column2 graph margin_bottom_30">
                     <div class="col-md-l2 col-lg-12">
                        <div class="white_shd full">
                           <div class="full graph_head">
                              <div class="heading1 margin_0">
                                 <h4 style="font-weight: 600;">SALE STATISTICS</h4>
                              </div>
                              <div>
                                 <button style="margin-left: 70%;" id="monthlyButton"  class="btn btn-primary toggle-chart" data-chart-type="monthly">Monthly</button>
                                 <button id="yearlyButton" class="btn btn-primary toggle-chart" data-chart-type="yearly">Yearly</button>

                         
                             </div>
                           </div>
                           <div class="full graph_revenue">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="content">
                                       <div class="area_chart">
                                          <canvas height="120" id="myChart"></canvas>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- end graph -->

                  <!-- NEW MEMBERS -->
                  <div class="row">

                     <!-- table section -->
                     <div class="col-md-12">
                        <div class="white_shd full margin_bottom_30">
                           <div class="full graph_head">
                              <div class="heading1 margin_0">

                                 <h2 style="font-weight: 600;">NEW MEMBERS</h2>

                              </div>
                           </div>
                           <div class="table_section padding_infor_info">
                              <div class="table-responsive-sm">
                                 <table class="table">
                                    <thead>
                                       <tr>
                                          <th style="font-weight: 600; color: rgb(205, 67, 67); width: auto;">SI. NO</th>
                                          <th style="font-weight: 600; color: rgb(205, 67, 67); width: auto;">NAME</th>
                                          <th style="font-weight: 600; color: rgb(205, 67, 67); width: auto;">EMAIL</th>
                                          <th style="font-weight: 600; color: rgb(205, 67, 67); width: auto;">MOBILE</th>
                                          <th style="font-weight: 600; color: rgb(205, 67, 67); width: auto;">JOINED DATE</th>


                                       </tr>
                                    </thead>
                                    <tbody style="font-weight: 400; color: black;">
                                       <% let serialNumber=1; %>
                                          <% latestUsers.forEach(user=> { %>
                                             <tr>
                                                <td>
                                                   <%= serialNumber %>
                                                </td>
                                                <td>
                                                   <%= user.name %>
                                                </td>
                                                <td>
                                                   <%= user.email %>
                                                </td>
                                                <td>
                                                   <%= user.mobile %>
                                                </td>
                                                <td>
                                                   <% 
                                                             // Assuming createdAt is a date object or a parsable date string
                                                             const createdAt = new Date(user.createdAt);
                                                             // Check if the timezone offset is 0 (GMT)
                                                             if (createdAt.getTimezoneOffset() === 0) { %>
                                                                 <!-- If it's GMT, you can hide details or display a message -->
                                                                 <span>Details hidden for GMT time</span>
                                                             <% } else { %>
                                                                 <!-- Display the createdAt time -->
                                                                 <%= createdAt.toLocaleDateString() %>
                                                             <% } %>
                                                  </td>
                                             </tr>
                                             <% serialNumber++; %>
                                                <% }); %>
                                    </tbody>


                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>





                  <!-- LATEST ORDERS -->
                  <div class="row">

                     <!-- table section -->
                     <div class="col-md-12">
                        <div class="white_shd full margin_bottom_30">
                           <div class="full graph_head">
                              <div class="heading1 margin_0">

                                 <h2 style="font-weight: 600;">LATEST ORDERS</h2>

                              </div>
                           </div>
                           <div class="table_section padding_infor_info">
                              <div class="table-responsive-sm">
                                 <table class="table">
                                    <thead>
                                       <tr>
                                          <th style="font-weight: 600; color: rgb(205, 67, 67); width: auto;">SI. NO</th> 
                                          <th style="font-weight: 600; color: rgb(205, 67, 67); width: auto;">ORDER ID</th>
                                          <th style="font-weight: 600; color: rgb(205, 67, 67); width: auto;">BILLING NAME</th>
                                          <th style="font-weight: 600; color: rgb(205, 67, 67); width: auto;">DATE</th>
                                          <th style="font-weight: 600; color: rgb(205, 67, 67); width: auto;">TOTAL</th>
                                          <th style="font-weight: 600; color: rgb(205, 67, 67); width: auto;">PAYMENT STATUS</th>
                                          <th style="font-weight: 600; color: rgb(205, 67, 67); width: auto;">PAYMENT METHOD</th>
                                          <th style="font-weight: 600; color: rgb(205, 67, 67); width: auto;">VIEW DETAILS</th>

                                       </tr>
                                    </thead>
                                    <tbody style="font-weight: 400; color: black;">
                                       <% let serialnumber=1; %>
                                       <% latestOrders.forEach(order => { %>
                                           <tr>
                                               <td> <%= serialnumber %></td>
                                               <td><%= order._id %></td> 
                                               <td><%= order.user_name %></td> <!-- Replace with the actual field name for billing name -->
                                               <td><%= order.date %></td> <!-- Assuming createdAt is the order date field -->
                                               <td><%= order.total_amount %></td> <!-- Replace with the actual field name for total -->
                                               <td><%= order.items.ordered_status %></td> <!-- Assuming status is the payment status field -->
                                               <td><%= order.payment %></td> <!-- Replace with the actual field name for payment method -->
                                               <td><a
                                                href="/admin/order-details?orderId=<%= order._id %>&itemId=<%= order.items._id %>"><button
                                                    class="btn btn-danger btn-sm font-sm list-products"
                                                    data-product-id="">VIEW</button></a></td> <!-- Assuming you have a route to view order details -->
                                           </tr>
                                           <% serialnumber++; %>
                                       <% }); %>
                                   </tbody>

                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                        <!-- ________________________Monthly Sales Data_____________________________ -->

                        <input type="hidden" value="<%= updatedMonthlyValues[0].total %>" id="jan" />
                        <input type="hidden" value="<%= updatedMonthlyValues[1].total %>" id="feb" />
                        <input type="hidden" value="<%= updatedMonthlyValues[2].total %>" id="mar" />
                        <input type="hidden" value="<%= updatedMonthlyValues[3].total %>" id="apr" />
                        <input type="hidden" value="<%= updatedMonthlyValues[4].total %>" id="may" />
                        <input type="hidden" value="<%= updatedMonthlyValues[5].total %>" id="jun" />
                        <input type="hidden" value="<%= updatedMonthlyValues[6].total %>" id="jul" />
                        <input type="hidden" value="<%= updatedMonthlyValues[7].total %>" id="aug" />
                        <input type="hidden" value="<%= updatedMonthlyValues[8].total %>" id="sep" />
                        <input type="hidden" value="<%= updatedMonthlyValues[9].total %>" id="oct" />
                        <input type="hidden" value="<%= updatedMonthlyValues[10].total %>" id="nov" />
                        <input type="hidden" value="<%= updatedMonthlyValues[11].total %>" id="dec" />


                         <!-- ________________________Monthly Users Data_____________________________ -->


                         <input type="hidden" value="<%= updatedMonthlyTotalUsers[0].totalUsers %>" id="JAN" />
                         <input type="hidden" value="<%= updatedMonthlyTotalUsers[1].totalUsers %>" id="FEB" />
                         <input type="hidden" value="<%= updatedMonthlyTotalUsers[2].totalUsers %>" id="MAR" />
                         <input type="hidden" value="<%= updatedMonthlyTotalUsers[3].totalUsers %>" id="APR" />
                         <input type="hidden" value="<%= updatedMonthlyTotalUsers[4].totalUsers %>" id="MAY" />
                         <input type="hidden" value="<%= updatedMonthlyTotalUsers[5].totalUsers %>" id="JUN" />
                         <input type="hidden" value="<%= updatedMonthlyTotalUsers[6].totalUsers %>" id="JUL" />
                         <input type="hidden" value="<%= updatedMonthlyTotalUsers[7].totalUsers %>" id="AUG" />
                         <input type="hidden" value="<%= updatedMonthlyTotalUsers[8].totalUsers %>" id="SEP" />
                         <input type="hidden" value="<%= updatedMonthlyTotalUsers[9].totalUsers %>" id="OCT" />
                         <input type="hidden" value="<%= updatedMonthlyTotalUsers[10].totalUsers %>" id="NOV" />
                         <input type="hidden" value="<%= updatedMonthlyTotalUsers[11].totalUsers %>" id="DEC" />


                        <!-- ________________________Yearly Sales Data_____________________________ -->

                         <input type="hidden" value="<%= updatedYearlyValues[0].total %>" id="2018" />
                         <input type="hidden" value="<%= updatedYearlyValues[1].total %>" id="2019" />
                         <input type="hidden" value="<%= updatedYearlyValues[2].total %>" id="2020" />
                         <input type="hidden" value="<%= updatedYearlyValues[3].total %>" id="2021" />
                         <input type="hidden" value="<%= updatedYearlyValues[4].total %>" id="2022" />
                         <input type="hidden" value="<%= updatedYearlyValues[5].total %>" id="2023" />
                         <input type="hidden" value="<%= updatedYearlyValues[6].total %>" id="2024" />


                          <!-- ________________________Yearly Users Data_____________________________ -->

                          <input type="hidden" value="<%=  updatedYearlyTotalUsers[0].totalUsers %>" id="users2018" />
                          <input type="hidden" value="<%=  updatedYearlyTotalUsers[1].totalUsers %>" id="users2019" />
                          <input type="hidden" value="<%=  updatedYearlyTotalUsers[2].totalUsers %>" id="users2020" />
                          <input type="hidden" value="<%=  updatedYearlyTotalUsers[3].totalUsers %>" id="users2021" />
                          <input type="hidden" value="<%=  updatedYearlyTotalUsers[4].totalUsers %>" id="users2022" />
                          <input type="hidden" value="<%=  updatedYearlyTotalUsers[5].totalUsers %>" id="users2023" />
                          <input type="hidden" value="<%=  updatedYearlyTotalUsers[6].totalUsers %>" id="users2024" />
               </div>
               <!-- footer -->
               
            </div>
            <!-- end dashboard inner -->
         </div>
      </div>
   </div>
   <!-- jQuery -->
   <script src="/admin/js/jquery.min.js"></script>
   <script src="/admin/js/popper.min.js"></script>
   <script src="/admin/js/bootstrap.min.js"></script>
   <!-- wow animation -->
   <script src="/admin/js/animate.js"></script>
   <!-- select country -->
   <script src="/admin/js/bootstrap-select.js"></script>
   <!-- owl carousel -->
   <script src="/admin/js/owl.carousel.js"></script>
   <!-- chart js -->
   <script src="/admin/js/Chart.min.js"></script>
   <script src="/admin/js/Chart.bundle.min.js"></script>
   <script src="/admin/js/utils.js"></script>
   <script src="/admin/js/analyser.js"></script>
   <!-- nice scrollbar -->
   <script src="/admin/js/perfect-scrollbar.min.js"></script>
   <script>
      var ps = new PerfectScrollbar('#sidebar');
   </script>
   <!-- custom js -->
   <script src="/admin/js/chart_custom_style1.js"></script>
   <script src="/admin/js/custom.js"></script>
</body>

</html>