<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="/admin/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="/admin/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/admin/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="/admin/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="/admin/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="/admin/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/admin/css/custom.css" />
    <!-- calendar file css -->
    <link rel="stylesheet" href="/admin/js/semantic.min.css" />
    <!-- fancy box js -->
    <link rel="stylesheet" href="/admin/css/jquery.fancybox.css" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-wL8GvuC/94Lr5/Jr6Ze5J46G9Njv3SNiV77y7q6lFHAPObC7Qq6Y6sRbxX+q6SP" crossorigin="anonymous">

</head>

<body class="inner_page tables_page">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive"
                                    src="/admin/images/layout_img/user_img.jpg" alt="#" /></div>
                            <div class="user_info">
                                <h6>John David</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4>General</h4>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a href="/admin/dashboard" class=""><i class="fa fa-dashboard yellow_color"></i>
                                <span>Dashboard</span></a>
                        </li>
                        <li><a href="/admin/users"><i class="fa fa-users"></i> <span>Users</span></a></li>
                        <li>
                            <a href="/admin/category"><i class="fa fa-database"></i> <span>Category</span></a>
                        </li>
                        <li><a href="/admin/products"><i class="fa fa-heart-o"></i> <span>Products</span></a></li>
                        <li>
                            <a href="/admin/orders"><i class="fa fa-briefcase blue1_color"></i> <span>Orders</span></a>
                        </li>
                        <li>
                            <a href="/admin/offers"><i class="fa fa-object-group blue2_color"></i> <span>Offers</span></a>
                        </li>
                        <li>
                            <a href="/admin/coupon"><i class="fa fa-spinner"></i> <span>Coupons</span></a>
                        </li> 
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i
                                    class="fa fa-bars"></i></button>
                            <div class="logo_section">
                                <!-- <a href="index.html"><img class="img-responsive" src="images/logo/logo.png" alt="#" /></a> -->
                            </div>
                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a>
                                        </li>
                                    </ul>
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><img
                                                    class="img-responsive rounded-circle"
                                                    src="images/layout_img/user_img.jpg" alt="#" /><span
                                                    class="name_user">John David</span></a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="profile.html">My Profile</a>
                                                <a class="dropdown-item" href="settings.html">Settings</a>
                                                <a class="dropdown-item" href="help.html">Help</a>
                                                <a class="dropdown-item" href="logout"><span>Log Out</span> <i
                                                        class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->
                <!-- dashboard inner -->
                <div class="midde_cont">
                    <div class="container-fluid">
                        <div class="row column_title">
                            <div class="col-md-12">
                                <div class="page_title">

                                    <h2 >ORDER DETAILS </h2>
                                    <div class="col-2 mb-2" style="text-align: end; left: 70%; margin-top: -24px;">
                                        <a href="/admin/orders"><button class="btn btn-danger rounded font-sm mr-5 text-body hover-up">Go Back</button></a>  
                                          
                                      </div>
                                      
                                </div>
                                
                            </div>
                        </div>
                        <!-- row -->
                        <div class="row">

                            <!-- table section -->
                            <div class="col-md-12">
                                <div class="white_shd full margin_bottom_30">
                                    <div class="full graph_head">
                                        
                                        <div class="heading1 margin_0">

                                            <ul>
                                                <li>
                                                    <span><img src="/resizedImages/<%=item.product_id.image[0] %>"
                                                        alt="" style="width: 100px; height: 100px;"></span>
                                                  </li><br>
                                                  <li>
                                                   <span style="font-weight: 500;">Order Id : <%= order.order_id %></span>
                                                  </li><br>
                                                  <li>
                                                   <span style="font-weight: 500;">Order Date : <%= order.date %></span>
                                                  </li><br>
                                                  <li>
                                                   <span style="font-weight: 500;">Quantity : <%= item.quantity %></span>
                                                  </li><br>
                                                  <li>
                                                   <span style="font-weight: 500;">Delivery Address : <%= order.delivery_address %></span>
                                                  </li><br>
                                                  <li>
                                                    <span style="font-weight: 500;">Payment Method : <%= order.payment %></span>
                                                   </li><br>
                                                   <li>
                                                    <span style="font-weight: 500;">Expected Delivery : <%= order.expected_delivery %></span>
                                                   </li><br>
                                                   <!-- <li>
                                                    <span style="font-weight: 500;">Quantity : <%= order.items.quantity %></span>
                                                   </li><br> -->
                                                   <li>
                                                    <span id="status-<%= order._id %>-<%= item._id %>"
                                                        style="color: red; font-weight: bold;">Status:
                                                        <%= item.ordered_status %>
                                                    </span>
                                                   </li><br>
                                                   

                                            </ul>
                                            

                                        </div>
                                    </div>
                                    
                                </div>
                            </div> 
                        </div>
                    </div>
                    <!-- footer -->
                    <div class="container-fluid">

                    </div>
                </div>
                <!-- end dashboard inner -->
            </div>
        </div>
        <!-- model popup -->
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        Modal body..
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end model popup -->
    </div>
    <!-- jQuery -->
    <script src="/admin/js/jquery.min.js"></script>
    <script src="/admin/js/popper.min.js"></script>
    <script src="/admin/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="/admin/js/animate.js"></script>
    <!-- select country -->
    <script src="/admin/js/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="/admin/js/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="/admin/js/Chart.min.js"></script>
    <script src="/admin/js/Chart.bundle.min.js"></script>
    <script src="/admin/js/utils.js"></script>
    <script src="/admin/js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="/admin/js/perfect-scrollbar.min.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- fancy box js -->
    <script src="/admin/js/jquery-3.3.1.min.js"></script>
    <script src="/admin/js/jquery.fancybox.min.js"></script>
    <!-- custom js -->
    <script src="/admin/js/custom.js"></script>
    <!-- calendar file css -->
    <script src="/admin/js/semantic.min.js"></script>


</body>

</html>